# .ebextensions/launch-template.config

Resources:
  AWSEBLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateName: "EBLaunchTemplate"
      LaunchTemplateData:
        InstanceType: "t2.micro"  # Customize the instance type if needed
        ImageId:
          Ref: AWSEBAmiId  # Use the CloudFormation reference properly
        SecurityGroupIds:
          - Ref: AWSEBSecurityGroup  # Proper syntax for using !Ref

  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: "1"
      MaxSize: "3"
      LaunchTemplate:
        LaunchTemplateId:
          Ref: AWSEBLaunchTemplate
        Version:
          Fn::GetAtt: [AWSEBLaunchTemplate, LatestVersionNumber]  # Use correct syntax for GetAtt function
